# Ignore Node Modules
node_modules
node_modules/**
node_modules/*

dist
dist/*
dist/**


misc

# Ignore db
muffins

# Ignore Computers
computers.csv

# Files

phone.txt
index_test.js
log.log

# Compiled

Tortilla-linux
Tortilla-macos
Tortilla-win.exe


phonea.txt

